<section class="vbox">
    <section>
        <section class="hbox stretch">
            <section>
                <section class="vbox">
                    <header class="header bg-white b-b b-light">
                        <p>Layout start with a hbox</p>
                    </header>
                    <section class="scrollable wrapper">
                        <p class="h4">Contents...</p>
                    </section>
                    <footer class="footer bg-white b-t b-light">
                        <p>This is a footer</p>
                    </footer>
                </section>
            </section>
            <aside class="bg-light lter b-l aside-md"> </aside>
        </section>
    </section>
</section>
