<section class="vbox">
    <header class="header bg-white b-b b-light">
        <!-- <p><i class="fa fa-columns"></i> Grid</p> -->
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-sm btn-default">
                <input type="checkbox" name="options" id="option1"> 权限管理 </label>
            <label class="btn btn-sm btn-default">
                <input type="checkbox" name="options" id="option2"> 用户管理 </label>
        </div>
        <a href="#" class="btn btn-sm btn-icon btn-success"><i class="fa fa-facebook"></i></a>
    </header>

    <section class="scrollable wrapper">
        <div class="row">
            <div class="col-lg-6">
            	123
            </div>
        </div>
    </section>

</section>
